<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SMS Sender Application</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header> <h1>SMS Sender Application</h1></header>
<div id="mainForm" role="main">
    <p class="intro">Enter a number, that begins with a country code</p>
    <form>
        <input type="tel" id="numberField" name="number" placeholder="Phone" required>
        <input type="text" id="textField" name="text" placeholder="Message...">
        <input type="text" id="fromField" name="text" placeholder="From">
        <input type="button" id="sendButton" value="Send SMS">
    </form>
</div>
<p class="s_response"></p>

<script src="vendor/jquery.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>